body{
  font-family: sans-serif;
  text-align: center;
}
#website{
  display: grid;
  grid-template-columns: repeat(5,1fr);
  grid-template-rows: 150px 70px 1fr 70px;;
   width: 75%;
   height: 1000px;
   margin: 0 auto;
   border: 1px solid #ccc;
 }
#cabecera{
  grid-column: 1/6;
  background: blue;
  color:white;
}
#menu{
  grid-column: 1/6;
  background: rgb(89, 226, 159);
  color:black;
  margin-bottom: 10px;
}
#menu ul{
  display: grid;
  grid-template-columns: repeat(5,1fr);
  list-style: none;

}
#contenido{
  grid-column: 1/5;
  display: grid;
  grid-gap: 20px;;
  background: #eee;

}
#contenido article{

  background: #ccc;
  border: 1px solid #555;
}
#lateral{

  background: orange;
  color: white;
}
#pie-pagina{
  padding: 10px;
  grid-column: 1/6;
  background: black;
  color: white;
}
